@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "neosans-regular";
    font-style: normal;
    font-weight: normal;
    src: url("~/assets/fonts/NeoSansArabicRegular.ttf");
  }

  @font-face {
    font-family: "neosans-medium";
    font-style: normal;
    font-weight: 500;
    src: url("~/assets/fonts/NeoSansArabicMedium.ttf");
  }

  @font-face {
    font-family: "neosans-bold";
    font-style: normal;
    font-weight: bold;
    src: url("~/assets/fonts/NeoSansArabicBold.ttf");
  }

  :root {
    --space-xl: 60px;
    --space-lg: 32px;
    --space: 22px;
    --space-md: 16px;
    --space-sm: 8px;
    --main-3: theme(colors.black);
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .v--modal-overlay {
    background: rgba(0, 0, 0, 0.6) !important;
  }
}

/* @layer components {
  .d-container {
    @apply container overflow-hidden max-w-1450;
  }
} */
@layer utilities {
  .direction-ltr {
    direction: ltr;
  }

  .direction-rtl {
    direction: rtl;
  }
}
